<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="dev">

        <!-- use Spring default values -->
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <property name="LOG_LOCATION" value="D:/Intellij_Projects/spring-reg-auth/src/main/logs" />

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_LOCATION}/spring.log</file>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_LOCATION}/archived/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="com.boots" level="INFO" additivity="false">
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>


</configuration>